@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  padding-left: .5%;
}
h1{
  background-image: url('clouds.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin-left: 0;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
h2{
  clear: both;
}
p{
  line-height: 1.6em;
  padding-left: .5%;
  margin: 0;
}
p.byline{
  font-size: smaller;
}
li{
  line-height: 1.6em;
  padding-bottom: .2em;
  padding-left: .5%;
  margin: 0;
  margin-left: 5%;
}
/* Create unequal columns that float next to each other */
.column {
  float: left;
  padding: 1em;
}
/* Left column */
.column.side {
  width: 20%;
}
/* Middle column */
.column.main {
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

section.clouds {clear:both;}

/* -- For index.html -- would definitely have to have 2 sizes for media query -- */
.indextagcloud{
  font-size: 150%;
  font-family: serif;
  background-color:#000;
  margin:1em 1em 0 1em;
  border:2px solid #ddd;
  padding:2em;
  border-radius: .25em;
}

.indextagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0}
.indextagcloud a:link{text-decoration:none}
.indextagcloud a:visited{text-decoration:none}
.indextagcloud a:hover{color:white;background-color:#05f}
.indextagcloud a:active{color:white;background-color:#03d}

.navtagcloud{
  font-size: 40%;
  font-family:'Nunito', sans-serif;
  background-color:#e7ecec;
  margin:1em 0 1em 1em;
  border-top: 2px solid #ddd;
  padding:2em;
  height: 70em;
  overflow: hidden;
  border-radius: .25em
}

.navtagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0}
.indextagcloud a:link{text-decoration:none}
.indextagcloud a:visited{text-decoration:none}
.indextagcloud a:hover{color:white;background-color:#05f}
.indextagcloud a:active{color:white;background-color:#03d}

/* -- Gallery clouds -- */
div.htmltagcloud{display: inline-block; float:left;}
.htmltagcloud{
  font-size: 40%;
  width: 17%;		/* auto or fixed width, e.g. 500px   */
  font-family:'Nunito', sans-serif;
  background-color:#e7ecec;
  margin:1em 0 1em 1em;
  border-top: 2px solid #ddd;
  padding:2em;
  height: 40em;
  overflow: hidden;
  border-radius: .25em
}
.tagcaption{font-size: 250%; padding: 0; margin: 0 0 .5em 0; border: none;}

.htmltagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0}
.htmltagcloud a:link{text-decoration:none}
.htmltagcloud a:visited{text-decoration:none}
.htmltagcloud a:hover{color:white;background-color:#05f}
.htmltagcloud a:active{color:white;background-color:#03d}
.wrd{padding:0;position:relative}.wrd a{text-decoration:none}
.tagcloud0{font-size:1.0em;color:red;z-index:10}
.tagcloud0 a{color:red;}
.tagcloud1{font-size:1.4em;color:green;z-index:9}
.tagcloud1 a{color:green}
.tagcloud2{font-size:1.8em;color:#86A0DC;z-index:8}
.tagcloud2 a{color:#86A0DC}
.tagcloud3{font-size:2.2em;color:#86A0DC;z-index:7}
.tagcloud3 a{color:#86A0DC}
.tagcloud4{font-size:2.6em;color:#607EC5;z-index:6}
.tagcloud4 a{color:#607EC5}
.tagcloud5{font-size:3.0em;color:#607EC5;z-index:5}
.tagcloud5 a{color:#607EC5}
.tagcloud6{font-size:3.3em;color:yellow;z-index:4}
.tagcloud6 a{color:yellow}
.tagcloud7{font-size:3.6em;color:#395CAE;z-index:3}
.tagcloud7 a{color:#395CAE}
.tagcloud8{font-size:3.9em;color:#264CA2;z-index:2}
.tagcloud8 a{color:#264CA2}
.tagcloud9{font-size:4.2em;color:#133B97;z-index:1}
.tagcloud9 a{color:#133B97}
.tagcloud10{font-size:4.5em;color:yellow;z-index:0}
.tagcloud10 a{color:yellow}
.freq{font-size:10pt !important;color:#bbb}

@media screen and (max-width: 600px) {
  body {width:90%;}
  .column.side, .column.main {
    width: 100%;
  }
}
