body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'American Typewriter', 'serif';
    font-size: 25px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
footer ul {
    font-family:'American Typewriter', 'serif';
    font-size: 15px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #1a1a1a;
}
a:hover {
    text-decoration: line-through;
    
}
h1 {
    font-size: 2em;
    font-family:'American Typewriter', 'serif';
    color: #2A2A2A
}
h2 {
    font-size: 1.5em;
    font-family:'American Typewriter', 'serif';
    color: #2A2A2A
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'American Typewriter', 'serif';
    text-align: left; 
    color: #292929
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family:'American Typewriter', 'serif';
    color: #292929
}
li {
    padding-left: 16px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
