html{
    background-color: #ffffff;
}
#home{
    background-color: #ffffff;
}
body {
    margin: 0 auto;
    width: 70%;
}
nav ul {
    font-family:'Palatino Linotype', 'serif';
    font-size: 25px;
    padding: 0px;
    margin-top: 50px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
footer ul {
    font-family:'Palatino Linotype', 'serif';
    font-size: 15px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
    color: #555555
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #b94842;
}
a:hover {
    text-decoration: line-through;
    
}
figure {
    margin: 0 auto;
    padding: 50px;
}
#pic{
    margin: auto;
    margin-top: 100px;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.blurb {
    margin: 0 auto;
    padding: 10px;
}
h1 {
    font-size: 2em;
    font-family:'Palatino Linotype', 'serif';
    color: #2A2A2A
}
h2 {
    font-size: 1.5em;
    font-family:'Palatino Linotype', 'serif';
    color: #2A2A2A
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Palatino Linotype', 'serif';
    text-align: left; 
    color: #404040
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family:'Palatino Linotype', 'serif';
    color: #292929
}
li {
    padding-left: 16px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
